/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Import Geist font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: "Geist", sans-serif;
  --ifm-color-primary: #1a1400;
  --ifm-color-primary-dark: #171200;
  --ifm-color-primary-darker: #161100;
  --ifm-color-primary-darkest: #120e00;
  --ifm-color-primary-light: #1d1600;
  --ifm-color-primary-lighter: #1e1700;
  --ifm-color-primary-lightest: #221a00;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-link-color: #cc24c3;
  --ifm-link-hover-color: #ff2df4;
  --ifm-menu-color-active: #cc24c3;
  --ifm-navbar-link-hover-color: #cc24c3;
  --docsearch-modal-background: white;
}

[data-theme="light"] .alert--danger {
  --ifm-alert-background-color: #ffd1cb;
  --ifm-alert-background-color-highlight: #ffbab1;
  --ifm-alert-foreground-color: rgb(66, 69, 73);
  --ifm-alert-border-color: #ff7764;
}

[data-theme="dark"] .alert--danger {
  --ifm-alert-background-color: #962a1c;
  --ifm-alert-background-color-highlight: #cf5545;
  --ifm-alert-foreground-color: white;
  --ifm-alert-border-color: #cf5545;
}

[data-theme="light"] .alert--warning {
  --ifm-alert-background-color: #ffe2b1;
  --ifm-alert-background-color-highlight: #ffd998;
  --ifm-alert-foreground-color: rgb(66, 69, 73);
  --ifm-alert-border-color: #ffc564;
}

[data-theme="dark"] .alert--warning {
  --ifm-alert-background-color: #5b4b2f;
  --ifm-alert-background-color-highlight: #8a6a32;
  --ifm-alert-foreground-color: white;
  --ifm-alert-border-color: #8a6a32;
}

[data-theme="light"] .alert--info {
  --ifm-alert-background-color: #d8e0fd;
  --ifm-alert-background-color-highlight: #c0cdfc;
  --ifm-alert-foreground-color: rgb(66, 69, 73);
  --ifm-alert-border-color: #466cf7;
}

[data-theme="dark"] .alert--info {
  --ifm-alert-background-color: #2d2a55;
  --ifm-alert-background-color-highlight: #514b99;
  --ifm-alert-foreground-color: white;
  --ifm-alert-border-color: #514b99;
}

[data-theme="light"] .alert--secondary {
  --ifm-alert-background-color: #d8e0fd;
  --ifm-alert-background-color-highlight: #c0cdfc;
  --ifm-alert-foreground-color: rgb(66, 69, 73);
  --ifm-alert-border-color: #466cf7;
}

[data-theme="dark"] .alert--secondary {
  --ifm-alert-background-color: #2d2a55;
  --ifm-alert-background-color-highlight: #514b99;
  --ifm-alert-foreground-color: white;
  --ifm-alert-border-color: #514b99;
}

[data-theme="light"] .alert--success {
  --ifm-alert-background-color: #ccf0e3;
  --ifm-alert-background-color-highlight: #b8ead8;
  --ifm-alert-foreground-color: rgb(66, 69, 73);
  --ifm-alert-border-color: #31a67b;
}

[data-theme="dark"] .alert--success {
  --ifm-alert-background-color: #34584a;
  --ifm-alert-background-color-highlight: #69b799;
  --ifm-alert-foreground-color: white;
  --ifm-alert-border-color: #69b799;
}

[data-theme="light"] {
  --ifm-background-color: #f2eee1;
  --ifm-navbar-background-color: #f2eee1;
  --ifm-footer-background-color: #f2eee1;
  --ifm-menu-color: #1a1400;
  --ifm-breadcrumb-item-background-active: #f2eee1;
  --brand-background: #f2eee1;
}
[data-theme="dark"] {
  --ifm-color-primary: #f2eee1;
  --ifm-color-primary-dark: #e4dcc0;
  --ifm-color-primary-darker: #ddd2b0;
  --ifm-color-primary-darkest: #c8b77f;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-link-color: #a9cc1f;
  --ifm-link-hover-color: #d4ff28;
  --ifm-menu-color-active: #a9cc1f;
  --ifm-navbar-link-hover-color: #a9cc1f;
  --ifm-navbar-background-color: #1a1400;
  --ifm-footer-background-color: #1a1400;
  --brand-background: #1a1400;
  --ifm-font-color-base: #f2eee1;
  background: #1a1400;
}

[data-theme="dark"] .navbar {
  background-color: var(--brand-background);
  box-shadow: var(--ifm-navbar-shadow);
  display: flex;
  height: var(--ifm-navbar-height);
  padding: var(--ifm-navbar-padding-vertical)
    var(--ifm-navbar-padding-horizontal);
}

[data-theme="dark"] .footer {
  --ifm-footer-background-color: var(--brand-background);
  --ifm-footer-color: var(--ifm-footer-link-color);
  --ifm-footer-link-color: var(--ifm-color-secondary);
  --ifm-footer-title-color: var(--ifm-color-white);
}

[data-theme="light"] .navbar {
  background-color: var(--brand-background);
}

[data-theme="light"] .footer {
  --ifm-footer-background-color: var(--brand-background);
  --ifm-footer-color: #1a1400;
  --ifm-footer-link-color: #1a1400;
  --ifm-footer-title-color: #1a1400;
}

[data-theme="dark"] .card {
  background-color: color-mix(in srgb, var(--brand-background) 85%, white);
}

[data-theme="light"] {
  /* --docusaurus-highlighted-code-line-bg: rgb(72, 77, 91); */
  --docusaurus-highlighted-code-line-bg: rgba(230, 211, 238, 0.75);
}

/* If you have a different syntax highlighting theme for dark mode. */
[data-theme="dark"] {
  /* Color which works with dark mode syntax highlighting theme */
  /* --docusaurus-highlighted-code-line-bg: rgb(100, 100, 100); */
  --docusaurus-highlighted-code-line-bg: rgb(72, 77, 91);
}

ul li::marker {
  color: #cc24c3;
}

[data-theme="dark"] ul li::marker {
  color: #a9cc1f;
}

.code-block-error-line {
  background-color: #f0000038;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ff000080;
}

.sidebar-divider {
  border-top: 1px solid var(--ifm-color-primary);
  display: block;
  margin: 0.5rem 0 0.25rem 1rem;
}

html[data-theme="dark"] .sidebar-divider {
  border-top: 1px solid var(--ifm-color-primary);
}

.sidebar-title {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--ifm-color-primary);
}

html[data-theme="dark"] .sidebar-divider {
  color: var(--ifm-color-primary);
}

[data-theme="dark"] #optout-form {
  background: #211733;
}

[data-theme="light"] #optout-form {
  background: white;
}

[data-theme="light"] .button--secondary {
  background: var(--ifm-color-primary-lightest);
}

[data-theme="dark"] .button--secondary {
  background: var(--ifm-color-primary-dark);
}

#optout-form {
  position: sticky;
  bottom: 10px;
  flex-direction: column;
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

.homepage_footer {
  text-align: center;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--ifm-color-primary-lightest);
  border-radius: 12px;
}

.homepage_cta_footer_container {
  display: flex;
  justify-content: center;
}

.navbar .dropdown__link {
  display: flex;
  align-items: center;
}

.navbar .dropdown__link::after {
  content: "\2197";
  margin-left: 5px;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("../../static/img/logos/github_light_mode.svg") no-repeat;
}

[data-theme="dark"] .header-github-link::before {
  background: url("../../static/img/logos/github_dark_mode.svg") no-repeat;
}

.dropdown-subtitle {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: var(--ifm-color-primary);
  font-size: 0.9rem;
}

.github-item {
  display: flex;
  align-items: center;
}

.github-item::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
  background: url("../../static/img/logos/github_light_mode.svg") no-repeat;
}

.twitter-item {
  display: flex;
  align-items: center;
}

.twitter-item::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
  background: url("../../static/img/logos/x.svg") no-repeat;
}

.navbar__item.dropdown .dropdown__menu {
  padding: 0.5rem 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  min-width: 200px;
}

.navbar__item.dropdown .dropdown__link {
  padding: 0.5rem 1.5rem;
}

.dropdown-subtitle {
  display: block;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  color: var(--ifm-color-primary);
  font-size: 0.9rem;
}

.twitter-item {
  display: flex;
  align-items: center;
}

.navbar .dropdown__link::after {
  content: "\2197";
  margin-left: 5px;
}

.navbar .dropdown__link.no-external-icon::after {
  content: none;
}

.navbar__item.dropdown .dropdown__link:hover {
  background-color: var(--ifm-color-emphasis-200);
}

.sidebar-title {
  padding: 0.2rem 0.2rem;
  margin-top: 0.2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.card-container.full-width {
  grid-template-columns: 1fr;
}

@media (min-width: 769px) {
  .card-container:not(.full-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card-link-wrapper {
  display: contents;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card__body {
  flex: 1;
}

.view-all-link {
  text-align: right;
  margin-bottom: 2rem;
}

.view-all-link a {
  font-size: 0.9rem;
  color: var(--ifm-color-primary);
  text-decoration: none;
}
.divider {
  border-top: 2px solid var(--ifm-color-primary);
  margin: 0.5em 0;
}
